
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245));
    font-family: poppins;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  
  }
  
  .nav ul {
      list-style: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
  }
  
  .nav ul li a {
      text-decoration: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #fff;
      padding: 1.5rem;
      /* font-weight: bold; */
      font-size: 14px;
      transition: all .5s ease;
      
  }
  
  .header {
      background: rgb(30, 139, 131);
      overflow: hidden;
      height: 40px;
      padding-top: 16px;
  }
  
  .nav {
      display: grid;
      grid-template-columns: 6fr 6fr;
      align-items: center;
      width: 1100px;
      margin: auto;
  }
  
  .nav img {
      width: 120px;
      height: auto;
  
  }
  
  .nav ul li a:hover {
      color: #000;
      background: #fff;
  }

  .blog-width {
    margin: 20px 200px;
  }


  .blog-h1 {
    padding-bottom: 15px;
    font-size: 18px;
    
  }

  .blog-p {
    padding-bottom: 18px;
    line-height: 24px;
    

    
  }

  button a {
    background-color: #1e8b83;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;

  }
  
  #amrit{
    color: red;
    font-size: 33px;
  }