{% extends 'blog/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" /> 
<link rel="stylesheet" href="{% static 'css/blogMenu.css' %}" /> 
<link rel="stylesheet" href="{% static 'css/nav.css' %}" /> 
{% endblock link %}
{% block content %}

<div>
    <img id='imglogo' src="{{ logo.logo.url }}" alt="" />
    <!-- side by side content -->
    </div>


{% include 'blog/navbar.html' %}

<div class="fl">
    {% for data in dta %}
    {% ifchanged %}
    <a href="{% url 'child_001:cat' data.category_name_id %}"><li>{{ data.category_name }}</li></a>
    {% endifchanged %}
    
    {% endfor %}
</div>

<hr class="blog-width">
{% for data in rd %}
<div class="blog-width">
    <h3 class="blog-h1">{{ data.title|safe }}</h3>
    <!-- <p class="blog-p">{{ data.title|safe }}</p> -->
    <button><a href="{% url 'child_001:readmore' data.id %}">Read more</a></button>
</div>
{% endfor %}


{% endblock %}